body {
  margin: 0;
  padding: 0;
  background: #0b0b0b;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}


.header-div {
  /* هاد السطر هو اللي غايحل المشكل */
  /* بما أن الـ NavBar فيها تقريبا 70px لـ 80px ديال الارتفاع */
  /* وحنا بغينا 20px ديال الفراغ، غانديرو padding-top كلي */
  padding-top: 100px; 
}


.header {
  border-radius: 15px;
  margin: 0;
  /* padding: 20px; */
}


.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  /* حيد margin-bottom من هنا */
}

body {
  margin: 0;
  padding: 0; /* رجعها 0 */
  background: #0b0b0b;
}


.logo-tritre {
  display: flex;
  align-items: center;
  gap: 10px;
 
}

.logo-tritre h1 {
  font-size: 29px;
  letter-spacing: 2px;
}
/* AMERICAN */
.logo-tritre img {
  
   width: 90px;
    height: auto;
    object-fit: cover;
}

.logo-tritre span {
  color: #ff1e1e;
}


.navBar button {
    background: #ff1e1e;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 14px;
  transition: 0.3s;
}

.navBar button:hover {
  /* transform: scale(1.05);
  box-shadow: 0 0 10px #ff1e1e; */
   background: #ff0000;
}


.div-filter {
  width: 100%;
  /* تأكد أن margin-top هنا كاين باش تزيد تبعدها الا بغيتي */
  margin-top: 0; 
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 30, 30, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}


.div-filter h2 {
  font-size: 17px;
  color: #ff1e1e;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.div-filter .ri-filter-2-line{
  font-size: 22px;
}

.filter {
  display: flex;
  gap: 15px;
}


.filter input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1a1a1a;
  color: white;
  outline: none;
  transition: 0.3s;
}


.filter input:focus {
  border: 1px solid #ff1e1e;
  box-shadow: 0 0 5px #ff1e1e;
}


.filter input::placeholder {
  color: #888;
}